*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
.containers{
   width: 400px;
padding: 20px 30px;
color: #fff;
   position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgb(234, 230, 230);
border-radius: 10px;
}
.containers h1{
    font-size: 30px;
    color: #000;
    text-align: center;
    font-weight: 400;

}
.containers input{
    width: 100%;
    height: 50px;
    outline: 0;
    border: 2px solid black;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0 20px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    background-color: rgb(255, 255, 255);
} 
 .containers button{
    width: 100%;
    height: 45px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
    color: #0c0b0b;
    background-color: rgb(234, 96, 96);
}
    #qrImage {
        max-width: 150px;
        max-height: 150px;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 90px;
    }



