*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: #1d1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
}
.stopWatch{
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 24px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(194, 65, 65, 0.5);
} 
.heading{
    color: rgb(245, 147, 67);
    font-size: 30px;
}
.timerDisplay{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}
.buttons{
    margin-top: 30px;
}
.btn{
    font-size: 20px;
    background: none;
    color: #fff;
    background-color: var(--clr);
 padding:  12px 28px;
 margin-inline: 12px;
 border-radius: 7px;
 cursor: pointer;
 border: none;
}
