*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
  background: #555;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #35544c, #9f96da);
    color: #ffffff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 24px ;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
cursor: pointer;
}
.wheather-icon{
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}
.wheather h1{
    font-size: 40px;
    font-weight: 500;
}
.wheather h2{
    font-size: 60px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
}
.col{
    display: flex;
    align-items: center;
    text-align: center;
}
.col img{
    width: 50px;
    height: 50px;
  margin-right: 10px;
  border-radius: 7px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: 20px;
}
.wheather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    display: none;
}